Sidebar {
    width: 28;
    border-right: solid $accent;
}

FilePicker,
FolderPicker {
    height: auto;
    margin-left: 1;
}

FilePicker.file-selected {
    margin-left: 1;
    margin-bottom: 1;
}

ContentSwitcher {
    width: 1fr;
    padding: 1 2;
}

ListItem {
    margin-left: 1;
    margin-right: 1;
}

Button {
    margin-top: 1;
    margin-bottom: 1;
}

.action-btn {
    width: 29;
    margin-top: 1;
    margin-left: 1;
}

Select {
    width: 31;
    margin-left: 0;
}

#select-btn {
    margin-top: 1;
    margin-bottom: 1;
}

#sims-readings-btn,
#p2-readings-btn,
#p2-current-readings-btn,
#template-folder-btn,
#reports-folder-btn {
     width: 45;
}

#readings-btn,
#template-btn {
    width: 35;
}

#report-btn,
#process-data-btn,
#new-readings-btn {
    width: 42;
}
